@(loginMember: Option[Member])(member: Member)

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SAW Twitter | Member</title>
    <link href="/assets/stylesheets/normalize.css" rel="stylesheet" />
    <link href="/assets/stylesheets/style.css" rel="stylesheet" />
    <script src="/assets/javascripts/lodash.min.js"></script>
    <script src="/assets/javascripts/superagent.js"></script>
    <script src="/assets/javascripts/riot.min.js"></script>
    <script src="/assets/javascripts/tag.js"></script>
</head>
<body>
<commonheader></commonheader>
<div class="sg-container">
    <profileaside></profileaside>
    <follow></follow>
    <timeline></timeline>
</div>
<commonfooter></commonfooter>

<script>
    var common = riot.mount("commonheader", {isLogin: @{loginMember.nonEmpty}})[0];
    common.timeline.targetId = "@{member.memberId}";
    riot.mount("profileaside", common);
    riot.mount("follow", common);
    riot.mount("timeline", common);
    riot.mount("commonfooter");
    common.findLoginMemberDetail();
    common.findMemberDetail(@{member.memberId});
</script>
</body>
</html>