
// ===================================================================================
//                                                                            Variable
//                                                                            ========

$font-size-small        : 12px;
$font-size-middle       : 14px;
$font-size-large        : 18px;
$font-size-xxxlarge     : 92px;

$color-theme            : #607D8B;
$color-theme-sub        : #CFD8DC;
$color-accent           : #FF9800;
$color-bg               : #CFD8DC;
$color-bg-light         : #FFFFFF;
$color-bg-modal         : rgba(0, 0, 0, 0.7);
$color-text             : #727272;
$color-text-light       : #FFFFFF;
$color-link             : #999;
$color-link-hover       : #ccc;
$color-border           : #ccc;
$color-good             : #00B827;
$color-good-hover       : #22E337;
$color-primary          : #5bc0de;
$color-primary-hover    : #7BD2DE;
$color-bad              : #D1594E;
$color-bad-hover        : #E87363;
$color-cancel           : #ccc;
$color-cancel-hover     : #DEDEDE;
$color-sort             : #E09A00;
$color-sort-hover       : #E5B200;

$width-container-micro  : 480px;
$width-container-small  : 590px;
$width-container-middle : 720px;
$width-container-large  : 960px;
$width-half-percent     : 50%;

$margin-micro           : 5px;
$margin-small           : 10px;
$margin-smiddle         : 30px;
$margin-middle          : 50px;
$margin-large           : 100px;

$round-param            : 2px;

$icon-size              : 32px;

$border-common          : 1px solid $color-border;

// ===================================================================================
//                                                                               Mixin
//                                                                               =====

@mixin clear-fix {
  content: "";
  display: block;
  clear: both;
}

@mixin contents-base {
  background: $color-bg-light;
  border-radius: $round-param;
  width: $width-container-small - $margin-small * 2;
  padding: $margin-small;
  margin: 0 auto $margin-small;
}

@mixin btn-round {
  border: none;
  border-radius: $round-param;
  transition: all 0.2s ease;
}

// ===================================================================================
//                                                                              Common
//                                                                              ======

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: $color-theme;
  color: $color-text;
}

h1 {
  margin: 0;
  font-size: $font-size-large;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.sg-container {
  width: $width-container-large;
  margin: 0 auto;
  transition: all 0.2s ease;
}

// ===================================================================================
//                                                                              Header
//                                                                              ======

& .sg-header-logo {
  float: left;
  margin-left: $margin-micro;

  & a {
    color: $color-text-light;
    text-decoration: none;
  }
}

.sg-header {
  background: $color-theme;
  width: 100%;
  position: fixed;
  top: 0;
  padding: $margin-micro;
  z-index: 10;

  & ul:after {
    @include clear-fix;
  }

  & .sg-header-tweet {
    position: absolute;

    // for fix
    left: calc(50% - 32px);
    top: 3px;

    & a {
      display: block;
      width: $icon-size;
      height: $icon-size;
      background: $color-bg-light;
      border-radius: $icon-size;
      color: $color-primary;
      transition: all 0.2s ease;

      & i {
        position: relative;
        top: 4px;
        left: 9px;
      }

      &:hover {
        transform: rotateZ(360deg);
      }
    }
  }

  & .sg-header-signs {
    float: right;
    margin-right: $margin-small;

    & button {
      @include btn-round;
      background: #fff;

      & + button {
        margin-left: $margin-micro;
      }

      &:hover {
        color: $color-accent;
      }
    }
  }
}


// ===================================================================================
//                                                                            Contents
//                                                                            ========

.sg-contents-cover {
  height: 400px;
  width: 100%;
  background-color: $color-theme;
  margin-top: -11px;
  margin-bottom: $margin-middle;
  text-align: center;

  & h1 {
    color: $color-text-light;
    font-size: $font-size-xxxlarge;
    padding-top: $margin-large;
  }

  & p {
    color: $color-text-light;
    opacity: 0.8;
    font-size: $font-size-large;
    padding-top: $margin-small * -1;
  }
}

.sg-contents {
  width: 100%;
  background: $color-bg;
  padding: $margin-middle 0;
  min-height: 80%;

  &.sg-contents-separate {
    padding: 39px 0 0;
    margin: 0;
    display: table;
    table-layout: fixed;

    & > swt-detail {
      border-right: $border-common;
    }

    & > swt-detail, & > swt-iframe {
      display: table-cell;
      width: 50%;
      height: 100%;
      vertical-align: top;
    }
  }

  &:after {
    @include clear-fix;
  }

  & .sg-contents-tweet {
    @include contents-base;
    display: block;

    & input, & textarea {
      padding: $margin-micro;
      border: $border-common;
      width: calc(100% - 12px);
      margin-bottom: $margin-small;
    }

    & textarea {
      height: 0;
      opacity: 0;
      padding: 0;
      transition: all 0.5s ease;

      &.sg-contents-tweet-comment-show {
        height: 100px;
        opacity: 1;
        padding: $margin-micro;
      }
    }

    & .sg-contents-tweet-submit {
      text-align: right;

      & button {
        @include btn-round;
        background: $color-primary;
        color: $color-text-light;
        margin-left: $margin-small;

        &:hover {
          background: $color-primary-hover;
        }

        &[disabled="disabled"] {
          background: $color-cancel;
        }
      }

      & .sg-contents-tweet-submit-invalid {
        color: $color-accent;
      }
    }
  }

  & .sg-contents-timeline {
    @include contents-base;
    transition: all 0.5s ease;

    & li {
      margin-bottom: $margin-smiddle;
      padding: 0 $margin-middle;
      position: relative;

      & + li {
        border-top: $border-common;

        // TODO bad method
        & .sg-contents-timeline-ismine-detail {
          top: 0;
        }
      }
    }

    & dl {
      width: 100%;
      display: table;
      table-layout: fixed;
      margin-bottom: $margin-small * -1;
    }

    & dt {
      display: table-cell;
      vertical-align: center;
      text-align: center;
      width: 120px;
    }

    & dd {
      display: table-cell;
      vertical-align: center;
      position: relative;

      & p {
        word-wrap: break-word;
      }
    }

    & h1 {
      width: 100%;
      position: absolute;
      left: $margin-small;
      top: 6px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;

      & a {
        color: $color-text;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  & .sg-contents-timeline-ismine {
    position: absolute;

    & p {
      position: absolute;
      left: 53px;
      top: 12px;
      width: 100px;
      font-size: 10px;
      color: $color-accent;
    }

    & button {
      position: absolute;
      left: -40px;
      top: 25px;
      border: none;
      background: $color-bg-light;
      transition: all 0.2s ease;

      &:hover {
        color: $color-accent;
      }
    }

    // TODO bad method
    &.sg-contents-timeline-ismine-detail {
      top: -18px;
    }
  }

  & .sg-contents-timeline-sort {
    display: table;
    table-layout: fixed;
    width: 100%;

    & > * {
      display: table-cell;
      text-align: center;
    }

    & button {
      @include btn-round;
      background: $color-cancel;
      color: $color-text-light;

      &:hover {
        background: $color-sort-hover;
      }

      &.sg-contents-timeline-sort-active {
        background: $color-sort;

        &:hover {
          background: $color-sort-hover;
        }
      }
    }
  }

  & .sg-contents-timeline-comment {

    & dt {
      width: $icon-size + $margin-small * 2;
      position: relative;
      top: $margin-small;
    }

    & time {
      font-size: $font-size-small;
      display: block;
      text-align: right;
      margin: $margin-small 0;
    }
  }

  & .sg-contents-timeline-btn {
    display: table;
    table-layout: fixed;
    width: 100%;
    text-align: center;
    margin-top: $margin-small;

    & > div {
      display: inline-block;
    }

    & li {
      display: table-cell;
    }

    & a {
      display: block;
      width: 80px;
      position: relative;
      padding: $margin-small;
      border-radius: $round-param;
      color: $color-bg-light;
      text-decoration: none;
      margin: 0 auto;

      & span {
        position: absolute;
        top: 0;
        left: 0;
        width: 80px;
        padding: $margin-small;
        border-radius: $round-param;
        opacity: 0;
        transition: opacity 0.2s ease;
      }

      &.sg-contents-timeline-btn-good {
        background-color: $color-good;

        & span {
          background-color: $color-good-hover;
        }
      }

      &.sg-contents-timeline-btn-bad {
        background-color: $color-bad;
        margin-left: $margin-smiddle;

        & span {
          background-color: $color-bad-hover;
        }
      }

      &:hover span {
        opacity: 1;
      }
    }
  }

  & .sg-contents-timeline-past {
    @include contents-base;
    text-align: center;

    & button {
      @include btn-round;
      background: #fff;

      &:hover {
        color: $color-accent;
      }

      &:active, &:visited {
        border: none;
      }
    }
  }

  & .sg-contents-detail {
    @include contents-base;
    width: calc(100% - 20px);
    margin: 0;
    border-radius: 0;

    & header {

      a {
        color: $color-text;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      p {
        text-align: right;
        margin-bottom: $margin-small;
      }
    }
  }

  & .sg-contents-iframe {
    width: 100%;
    height: 100%;
    border: none;
    background: $color-bg-light;
  }

  & .sg-contents-modal {
    & > div {
      position: fixed;
      opacity: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $color-bg-modal;
      z-index: 9;
      transition: opacity 0.5s ease;

      &.sg-contents-modal-bg {
        opacity: 1;
      }
    }

    & .sg-contents-modal-contents {
      @include contents-base;
      opacity: 1;
      margin: 0;

      // for fix
      max-height: 400px;
      top: $margin-large;
      left: calc(50% - 295px);

      & .sg-contents-modal-contents-header {
        margin-bottom: $margin-small;

        & h1 {
          text-align: center;
        }
      }

      & .sg-contents-modal-contents-raw {
        max-height: 300px;
        overflow: scroll;
        padding: 0 $margin-small 0 $margin-micro;

        & label, & input {
          display: block;
          width: 100%;
          margin-bottom: $margin-small;
        }
      }

      & .sg-contents-modal-contents-msg-sub {
        border-top: $border-common;
        margin-top: $margin-small;
        padding-top: $margin-small;
      }

      & .sg-contents-modal-contents-footer {
        & ul {
          display: table;
          table-layout: fixed;
          width: 100%;
          position: absolute;
          bottom: $margin-small;
        }

        & li {
          display: table-cell;
          vertical-align: center;
          text-align: center;
        }
      }
    }
  }

  & .sg-contents-modal-btn-ok {
    @include btn-round;
    color: $color-text-light;
    background: $color-primary;

    &:hover {
      background: $color-primary-hover;
    }
  }

  & .sg-contents-modal-btn-ng {
    @include btn-round;
    color: $color-text-light;
    background: $color-bad;

    &:hover {
      background: $color-bad-hover;
    }
  }
}

// ===================================================================================
//                                                                              Footer
//                                                                              ======

.sg-footer {
  padding: $margin-micro;
  text-align: center;
  color: $color-text-light;
  z-index: 10;
}
